
@import "variables";

@mixin mixin-box-shadow($color-shadow) {
    -webkit-box-shadow: 10px 10px 15px -4px $color-shadow;
    -moz-box-shadow: 10px 10px 15px -4px $color-shadow;
    box-shadow: 10px 10px 15px -4px $color-shadow;
    
}



body {
  font: $font-body;
  color: $primary-color;
  padding: $general-padding;
  margin: $body-margin;
  
  overflow-x: hidden;

  

}

main{
    padding-top: 0px;
    padding-bottom: 0px;
}

%message-shared {
    border: 1px solid $message-shared-border-color;
    padding: 16px;
    color: $message-shared-color;
  }

.main__article {
    display:flex;
    flex-wrap: wrap;
    .main__article__section{
        flex-grow: 1;
        flex-basis: 45%;
        border: 1px $main__article__section-border-color solid;
        @include mixin-box-shadow($main__article__section-shadow-color) ;
        
        padding: 16px;
        margin: 16px;
        clear: both;
        overflow: auto;
        box-sizing: border-box;

    }
    .main__article__code{
        background: $main__article__code-background-color;
        border: 1px solid $main__article__code-border-color;
        color: $main__article__code-text-color;
        page-break-inside: avoid;
        font-family: monospace;
        font-size: 15px;
        line-height: 1.6;
        margin-bottom: 1.6em;
        max-width: 100%;
        overflow: auto;
        padding: 1em 1.5em;
        display: block;
        word-wrap: break-word;

            .main__article__code--before{
                float: left;
                width: 40%;

            }

            .main__article__code--after{
                float: right;
                width: 40%;
                
            }


    }
}








h1,
h2,
h3 {
    color: $h3-color-text;
}

h1 {
    text-align: center;
}

h3 {
    text-align: center;
    font-size: 1.5em;
    padding: 32px;
    margin-bottom: 0px;
}





.article__messages{
    @extend %message-shared;
    .article__messages--success{
        background-color: $article__messages--success-background-color;
    }

    .article__messages--error{
        background-color: $article__messages--error-background-color;
    }

    .article__messages--warning{
        border: 1px solid $article__messages--warning-border-color;
        padding: 16px;
        color: $article__messages--warning-text-color;
        background-color: $article__messages--warning-background-color;
        
        &:hover {
            
            background-color: $article__messages--warning-onhover-color;
        }

    }




}

.footer{
    .footer__copyright{
        
        padding: 2 * $general-padding;
    }
}


@for $i from 1 through 6 {
    .block#{$i} {
        background: darken(white,$i);
        
       

    }
    .textcolor#{$i} {
       
        color: darken(rgb(109, 47, 47),$i*5);
       

    }

}