$font-body: 100% "Space Mono", monospace;
$primary-color: #6b717f;
$secondary-color: red;
$general-padding: 50px;
$body-margin: 0;
$background-color-body: #fff;

body {
  font: $font-body;
  color: $primary-color;
  padding: $general-padding;
  margin: $body-margin;
  background-color: $background-color-body;
  overflow-x: hidden;

}

main{
    padding-top: 0px;
    padding-bottom: 0px;
}

%message-shared {
    border: 1px solid #ccc;
    padding: 16px;
    color: blue;
  }

article{
    display:flex;
    flex-wrap: wrap;
}

article section{
    flex-grow: 1;
    flex-basis: 45%;
    border: 1px #8C8C8C solid;
    -webkit-box-shadow: 10px 10px 15px -4px #6b717f;
    -moz-box-shadow: 10px 10px 15px -4px #6b717f;
    box-shadow: 10px 10px 15px -4px #6b717f;
    padding: 16px;
    margin: 16px;
    clear: both;
    overflow: auto;
    box-sizing: border-box;

}


article code {
    background: #000;
    border: 1px solid #6b717f;
    color: #8C8C8C;
    page-break-inside: avoid;
    font-family: monospace;
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1em 1.5em;
    display: block;
    word-wrap: break-word;
}

article code.before {
    float: left;
    width: 40%;
}

article code.after {
    float: right;
    width: 40%;
}

h1,
h2,
h3 {
    color: #BF4080;
}

h1 {
    text-align: center;
}

h3 {
    text-align: center;
    font-size: 1.5em;
    padding: 32px;
    margin-bottom: 0px;
}





.article__messages{
    @extend %message-shared;
    .article__messages--success{
        background-color: green;
    }

    .article__messages--error{
        background-color: red;
    }

    .article__messages--warning{
        border: 1px solid #8C8C8C;
        padding: 16px;
        color: #fff;
        background-color: orange;
        
        &:hover {
            
            background-color: red;
        }

    }




}

.footer{
    .footer__copyright{
        color:green;
        padding: 2 * $general-padding;
    }
}